:root {
    --bg-color: #000
}

header {
    background-color: var(--bg-color);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}

header i {
    color: #fff;
    padding-left: 4px;
}

header button {
    background-color: var(--bg-color);
    border: 0;
    cursor: pointer;
}