img {
    max-width: 100%;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 1400px;
    margin: 0 auto;
}

section ul li {
    border: 2px solid #fff;
    list-style: none;
    position: relative;
    background-color: #fff;
    width: calc(100% / 4 - 40px);
}

.desc {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 60px 10px;
    gap: 8px;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.copertina {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}

section ul li:hover .desc {
    z-index: 1;
    opacity: 1;
}

.desc img {
    width: 30px;
}